@import '../../lib/bourbon/app/assets/stylesheets/bourbon';
@import 'variables';
@import '../../lib/neat/app/assets/stylesheets/neat';

.wd-gallery {
	box-sizing: border-box;

	*, *::after, *::before {
		box-sizing: inherit;
	}
}

.wd-gallery.gallery-list.zurich {
	@include outer-container();

	li {
		list-style: none;
		padding: 0;
		margin-bottom: 60px;

		@include media(801px) {
			@include span-columns(4);
			@include omega(3n);
		}

		@include media(min-width 401px max-width 800px) {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 40px;
		}

		@include media(max-width 400px) {
			margin-bottom: 40px;
		}

		img {
			width: 100%;
			height: auto;
		}

		h2 {
			margin: 20px 0 0 0;
		}
	}
}

.wd-gallery.gallery-single.zurich {
	@include outer-container();

	li {
		list-style: none;
		padding: 0;
		margin-bottom: 30px;

		@include media(901px) {
			@include span-columns(3);
			@include omega(4n);
		}

		@include media(min-width 451px max-width 900px) {
			@include span-columns(4);
			@include omega(3n);
			margin-bottom: 20px;
		}

		@include media(max-width 450px) {
			margin-bottom: 20px;
		}



		img {
			width: 100%;
			height: auto;
		}
	}
}