@import '../../lib/bourbon/app/assets/stylesheets/bourbon';
@import 'variables';
@import '../../lib/neat/app/assets/stylesheets/neat';

.wd-gallery {
	box-sizing: border-box;

	*, *::after, *::before {
		box-sizing: inherit;
	}
}

.wd-gallery.gallery-list.zurich {
	@include outer-container();

	li {
		list-style: none;
		padding: 0;
		margin: 0 0 $gutter 0;
		@include span-columns(4);
		@include omega(3n);

		img {
			width: 100%;
			height: auto;
		}

		h2 {
			margin-top: 20px;
		}
	}
}

.wd-gallery.gallery-single.zurich {
	@include outer-container();

	li {
		list-style: none;
		padding: 0;
		margin: 0 0 $gutter 0;
		@include span-columns(3);
		@include omega(4n);

		img {
			width: 100%;
			height: auto;
		}
	}
}