i.mce-i-icon {
  font: normal 20px/1 'dashicons';
  padding: 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  padding-right: 2px; }

.wd_gallery_mb > div {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff; }
  .wd_gallery_mb > div::after {
    clear: both;
    content: "";
    display: table; }
.wd_gallery_mb .wd_gallery_img, .wd_gallery_mb .wd_gallery_details {
  float: left; }
.wd_gallery_mb .wd_gallery_img {
  width: 20%; }
  .wd_gallery_mb .wd_gallery_img img {
    width: 100%;
    cursor: ns-resize; }
.wd_gallery_mb .wd_gallery_details {
  width: 60%;
  padding-left: 2%; }
.wd_gallery_mb label, .wd_gallery_mb input {
  display: block;
  float: left;
  width: 20%; }
.wd_gallery_mb label {
  text-align: right;
  padding-right: 2%;
  line-height: 30px; }
.wd_gallery_mb input {
  width: 70%;
  margin-bottom: 10px; }

.column-featured_image {
  width: 60px; }

.locale-pl-pl .fixed .column-date {
  width: 11%; }

.wd-gallery-themes h1 {
  margin-bottom: 15px; }
