i.mce-i-icon {
  font: normal 20px/1 'dashicons';
  padding: 0;
  vertical-align: top;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -2px;
  padding-right: 2px; }

.wp-photo-gallery_mb > div {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff; }
  .wp-photo-gallery_mb > div::after {
    clear: both;
    content: "";
    display: table; }

.wp-photo-gallery_mb .wp-photo-gallery_img, .wp-photo-gallery_mb .wp-photo-gallery_details {
  float: left; }

.wp-photo-gallery_mb .wp-photo-gallery_img {
  width: 20%; }
  .wp-photo-gallery_mb .wp-photo-gallery_img img {
    width: 100%;
    cursor: ns-resize; }

.wp-photo-gallery_mb .wp-photo-gallery_details {
  width: 60%;
  padding-left: 2%; }

.wp-photo-gallery_mb label, .wp-photo-gallery_mb input {
  display: block;
  float: left;
  width: 20%; }

.wp-photo-gallery_mb label {
  text-align: right;
  padding-right: 2%;
  line-height: 30px; }

.wp-photo-gallery_mb input {
  width: 70%;
  margin-bottom: 10px; }

.column-featured_image {
  width: 60px; }

.locale-pl-pl .fixed .column-date {
  width: 11%; }

.wp-media-buttons .wp-photo-gallery-media-button img {
  width: 16px;
  height: 16px;
  padding: 0 2px 0 0;
  margin-top: -3px; }

.menu-icon-wp-photo-gallery img {
  width: 20px;
  height: 20px;
  margin-top: -2px; }

.wp-photo-gallery-wrap h1 {
  margin-bottom: 5px; }
  .wp-photo-gallery-wrap h1 img {
    width: 24px;
    height: 24px;
    margin: 3px 10px 0 0;
    vertical-align: top; }

.wp-photo-gallery-wrap .tab-content {
  display: none; }

.wp-photo-gallery-wrap .tab-content.active {
  display: block; }

.wp-photo-gallery-wrap .nav-tab {
  cursor: pointer; }

.wp-photo-gallery-welcome .wp-photo-gallery-header img {
  float: right;
  border-radius: 4px;
  margin: 0 0 15px 15px;
  width: 100px;
  height: auto; }

.wp-photo-gallery-welcome .feature-section-media, .wp-photo-gallery-welcome .feature-section-content {
  width: 50%;
  box-sizing: border-box; }

.wp-photo-gallery-welcome .feature-section-media {
  float: right; }
  .wp-photo-gallery-welcome .feature-section-media img {
    border: 1px solid #ddd; }

.wp-photo-gallery-welcome .feature-section-content {
  float: left;
  padding-right: 50px; }
  .wp-photo-gallery-welcome .feature-section-content h4 {
    margin: 0 0 1em; }

.wp-photo-gallery-skins h1 {
  margin-bottom: 15px; }

.wp-photo-gallery_media_content {
  border-top: 1px solid #ddd; }
  .wp-photo-gallery_media_content li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    margin: 0; }
    .wp-photo-gallery_media_content li::after {
      clear: both;
      content: "";
      display: table; }
    .wp-photo-gallery_media_content li:hover {
      background-color: #f7f7f7; }
  .wp-photo-gallery_media_content div {
    float: left;
    line-height: 50px;
    height: 50px; }
  .wp-photo-gallery_media_content .img, .wp-photo-gallery_media_content .title {
    margin-right: 20px; }
  .wp-photo-gallery_media_content .button {
    float: right;
    margin-top: 10px;
    display: block; }

/*# sourceMappingURL=wp-photo-gallery-admin.css.map */
