<div id="wd_gallery_media_content" style="display:none;">
<div class="wrap">
	<ul class="wd_gallery_media_content">
		<li>
			<div class="title">Galleries overview</div>
			<a href="#" class="button wd-gallery-media-insert" onclick="wdGalleryInsertForm(0)">Insert Shortcode</a>
		</li>
	</ul>
	<h1>Galleries</h1>
	<ul class="wd_gallery_media_content">
		{loop}
		<li>
			<div class="img">{img id={post_thumbnail_id} w=50 h=50 zc=1}</div>
			<div class="title">{the_title}</div>
			<a href="#" class="button wd-gallery-media-insert" onclick="wdGalleryInsertForm({the_id})">Insert Shortcode</a>
		</li>
		{/loop}
	</ul>
</div>