<div class="wppg_mb">
{foreach from=$photos item=photo key=key}
	<div class="wppg_photo">
		<div class="wppg_img">{img id=$photo w=200}</div>
		<div class="wppg_details">
			<label for="wppg_title_{$key}">Title</label>
			<input type="text" id="wppg_title_{$key}" name="wppg_title[]" value="{the_title id=$photo}">
			
			<label for="wppg_caption{$key}">Caption</label>
			<input type="text" id="wppg_caption{$key}" name="wppg_caption[]" value="{the_excerpt id=$photo}">
			
			<label for="wppg_alt{$key}">Alt Text</label>
			<input type="text" id="wppg_alt{$key}" name="wppg_alt[]" value="{alt id=$photo}">
		</div>
		<input type="hidden" name="wppg_photo[]" value="{$photo}">
		<a href="#" class="button wppg_remove">Remove Photo</a>
	</div>
{/foreach}
</div>
<a href="#" class="button wppg_add">Add Photos</a>
{wp_nonce_field action='wppg_photo_insert' name='wppg_photo_nonce'}