<div class="wd_gallery_mb">
{foreach from=$photos item=photo key=key}
	<div class="wd_gallery_photo">
		<div class="wd_gallery_img">{img id=$photo w=200}</div>
		<div class="wd_gallery_details">
			<label for="wd_gallery_title_{$key}">Title</label>
			<input type="text" id="wd_gallery_title_{$key}" name="wd_gallery_title[]" value="{the_title id=$photo}">
			
			<label for="wd_gallery_caption{$key}">Caption</label>
			<input type="text" id="wd_gallery_caption{$key}" name="wd_gallery_caption[]" value="{the_excerpt id=$photo}">
			
			<label for="wd_gallery_alt{$key}">Alt Text</label>
			<input type="text" id="wd_gallery_alt{$key}" name="wd_gallery_alt[]" value="{alt id=$photo}">
		</div>
		<input type="hidden" name="wd_gallery_photo[]" value="{$photo}">
		<a href="#" class="button wd_gallery_remove">Remove Photo</a>
	</div>
{/foreach}
</div>
<a href="#" class="button wd_gallery_add">Add Photos</a>
{wp_nonce_field action='wd_gallery_photo_insert' name='wd_gallery_photo_nonce'}