<div class="wrap wp-photo-gallery-settings wp-photo-gallery-wrap">
    <h1>Settings</h1>
	{% if get_transient('wp_photo_gallery_message') %}<div id="setting-error-settings_updated" class="updated settings-error notice is-dismissible"> 
		<p><strong>{{ get_transient('wp_photo_gallery_message') }}</strong></p><button type="button" class="notice-dismiss"><span class="screen-reader-text">Dismiss this notice.</span></button>
	</div>
	{% endif %}
    <h1 class="nav-tab-wrapper">
        <a class="nav-tab nav-tab-active" rel="general">{{__("General", "wp-photo-gallery")}}</a>
    </h1>

    <div class="tab-content tab-general active">
	    <form action="{{ admin_url('admin-ajax.php') }}?action=wp_photo_gallery_general" method="POST">
	        <table class="form-table">
	            <tbody><tr>
	                <th><label for="wp-photo-gallery-image-quality">{{__("Image Quality", "wp-photo-gallery")}}</label></th>
	                <td>
	                     <input type="text" value="{{ image_quality }}" id="wp-photo-gallery-image-quality" name="image_quality">
	                </td>
	            </tr>
	            <tr>
	                <th><label for="wp-photo-gallery-hide-css">CSS</label></th>
	                <td>
	                    <input type="checkbox" value="1" id="wp-photo-gallery-hide-css" name="hide_css"{% if hide_css %} checked="checked"{% endif %}>
	                    <span class="footnote">Hide standard Skin CSS Styles</span>
	                </td>
	            </tr>
	            <tr>
	                <th><label for="wp-photo-gallery-hide-js">JS</label></th>
	                <td>
	                    <input type="checkbox" value="1" id="wp-photo-gallery-hide-js" name="hide_js"{% if hide_js %} checked="checked"{% endif %}>
	                    <span class="footnote">Hide standard Skin JS Scripts</span>
	                </td>
	            </tr>
	        </tbody></table>

	        <div class="submit">
	            <input type="submit" class="button-primary save-settings" value="{{__("Save Changes", "wp-photo-gallery")}}">
	        </div>
	    </form>
    </div>
</div>
