<div class="wrap wp-photo-gallery-settings wp-photo-gallery-wrap">
    <h1>Settings</h1>

    <h1 class="nav-tab-wrapper">
        <a class="nav-tab nav-tab-active" rel="general">General</a>
        <a class="nav-tab" rel="credits">Credits</a>
    </h1><div class="updated notice pm-notice hidden"></div>

    <div class="tab-content tab-general active">
        <table class="form-table" style="max-width:740px;">
            <tbody><tr>
                <th><label>Enabled?</label></th>
                <td>
                    <input type="checkbox" class="pm-enabled" value="1">
                    <span class="footnote">Send emails using Postmark</span>
                </td>
            </tr>
            <tr>
                <th><label>API Key</label></th>
                <td>
                    <input type="text" class="pm-api-key" value="">
                    <div class="footnote">Your API key is in the <strong>Credentials</strong> screen of your <a href="https://account.postmarkapp.com/servers" target="_blank">Postmark Server</a>.</div>
                </td>
            </tr>
            <tr>
                <th><label>Sender Email</label></th>
                <td>
                    <input type="text" class="pm-sender-address" value="">
                    <div class="footnote">This email must be a verified <a href="https://account.postmarkapp.com/signatures" target="_blank">Sender Signature</a>. It will appear as the "from" address on all outbound emails.</div>
                </td>
            </tr>
            <tr>
                <th><label>Force HTML</label></th>
                <td>
                    <input type="checkbox" class="pm-force-html" value="1">
                    <span class="footnote">Force emails to be sent as HTML.</span>
                </td>
            </tr>
            <tr>
                <th><label>Track Opens</label></th>
                <td>
                    <input type="checkbox" class="pm-track-opens" value="1">
                    <span class="footnote">Track email opens (<code>Force HTML</code> is required).</span>
                </td>
            </tr>
        </tbody></table>

        <div class="submit">
            <input type="submit" class="button-primary save-settings" value="Save Changes">
        </div>
    </div>

    <div class="tab-content tab-credits">
       credits
    </div>
</div>