<div class="wrap wp-photo-gallery-skins">
	<h1>{{ __("Skins", "wp-photo-gallery") }}</h1>
	{% if get_transient('WP_GALLERY_message') %}<div id="setting-error-settings_updated" class="updated settings-error notice is-dismissible"> 
		<p><strong>{{ get_transient('WP_GALLERY_message') }}</strong></p><button type="button" class="notice-dismiss"><span class="screen-reader-text">{{ __("Dismiss this notice.", "wp-photo-gallery") }}</span></button>
	</div>
	{% endif %}
	<div class="theme-browser rendered">
		<div class="skins">
			{% for skin in skins %}
			{% if skin.id == active_skin_id %}
			<div class="theme active" tabindex="0" aria-describedby="{{ skin.id }}-action {{ skin.id }}-name">
				<div class="theme-screenshot">
					{% if skin.screenshot %}
					<img src="{{ skin.screenshot }}" alt="">
					{% endif %}
				</div>
				<h2 class="theme-name" id="{{ skin.id }}-name">
					<span>{{ __("Active", "wp-photo-gallery") }}:</span> {{ skin.name }}
				</h2>
			</div>
			{% endif %}
			{% endfor %}
			{% for skin in skins %}
			{% if skin.id != active_skin_id %}
			<div class="theme" tabindex="0" aria-describedby="{skin.id}-action {skin.id}-name">
				<div class="theme-screenshot">
					{% if skin.screenshot %}
					<img src="{{ skin.screenshot }}" alt="">
					{% endif %}
				</div>
				<h2 class="theme-name" id="{{ skin.id }}-name">{{ skin.name }}</h2>
				<div class="theme-actions">
					<a class="button button-secondary activate" href="{{ wp_nonce_url('?post_type=wp-photo-gallery&page=skins&action=activate&skin=' ~ skin.id, 'wp-photo-gallery-activate-skin-' ~ skin.id) }}">{{ __("Activate", "wp-photo-gallery") }}</a>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<br class="clear">
	</div>
</div>