@import '../../assets/lib/bourbon/core/bourbon';

i.mce-i-icon {
	font: normal 20px/1 'dashicons';
	padding: 0;
	vertical-align: top;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px;
}

.wp-gallery_mb {

	> div {
		margin-bottom: 10px;
		border: 1px solid #ddd;
		padding: 10px;
		@include clearfix;
		background: #fff;
	}

	.wp-gallery_img, .wp-gallery_details {
		float: left;
	}

	.wp-gallery_img {
		width: 20%;
		//max-width: 100px; 

		img {
			width: 100%;
			cursor: ns-resize;
		}
	}

	.wp-gallery_details {
		width: 60%;
		padding-left: 2%;
	}

	label, input {
		display: block;
		float: left;
		width: 20%;
	}

	label {
		text-align: right;
		padding-right: 2%;
		line-height: 30px;
	}

	input {
		width: 70%;
		margin-bottom: 10px;
	}
}

.column-featured_image {
	width: 60px;
}

.locale-pl-pl {

	.fixed .column-date {
		width: 11%;
	}
}

.wp-media-buttons .wp-gallery-media-button {
	
	img {
		width: 16px;
		height: 16px;
		padding: 0 2px 0 0;
		margin-top: -3px;
	}
}

.menu-icon-wp-gallery {

	img {
		width: 20px;
		height: 20px;
		margin-top: -2px;
	}
}

@import 'admin/settings';
@import 'admin/welcome';
@import 'admin/wp-gallery-skins';
@import 'admin/wp-gallery-media';